{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
  <!-- MathJax supports : make LaTeX usable in markdown -->
  <script>
    window.MathJax = {
      tex: { inlineMath: [['$', '$'], ['\\(', '\\)']] },
      svg: { fontCache: 'global' }
    };
  </script>
  <!-- MathJax supports : make LaTeX usable in markdown -->
  <script async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  
  <div class="flex-l mt2 mw8 center">
    <article class="center cf pv5 ph3 ph4-ns mw7">
      <!-- <header> -->
      <!--   <h1 class="f1"> -->
      <!--     {{ .Title }} -->
      <!--   </h1> -->
      <!-- </header> -->
      <div class="nested-copy-line-height lh-copy f4 nested-links {{ $.Param "text_color" | default "mid-gray" }}">
        {{ .Content }}
      </div>
    </article>
  </div>
{{ end }}
